<div style="position: relative">
  <h1 class="title">virtual bookshelf</h1>
  <div class="row">
    <img class="bookshelf" src="../assets/bookshelf.png" alt="Bookshelf" />
  </div>
  <div class="row">
    <button class="btn-add">add new book</button>
  </div>
  <div style="position: absolute; display: block; top: 85%">
    <div style="position: relative">
      <div class="cat body bodySlant earsBasic">
        <div class="face"></div>
        <div class="features"></div>
      </div>
    </div>
  </div>
</div>
