<div style="position: relative">
  <h1 class="title">virtual bookshelf</h1>
  <h2 class="subtitle">
    make your very own virtual bookshelf by clicking on the button below and
    adding books you've read!
  </h2>
  <div class="row-custom">
    <div style="position: relative">
      <img
        class="bookshelf"
        src="../assets/bookshelf.png"
        alt="Bookshelf"
        height="600px"
      />
      <div
        class="books-row"
        *ngFor="let row of bookRows; let j = index"
        [ngStyle]="{ top: 13 + heightMargin[j] + '%' }"
      >
        <div
          style="position: relative"
          *ngFor="let book of row; let i = index"
          class="book-container"
          (click)="openModal('bookInfo', book, j * 15 + i)"
        >
          <img
            [ngStyle]="{ height: j == 3 ? '85px' : '100px' }"
            [src]="'../assets/book' + ((i % 5) + 1) + '.png'"
            alt="Book {{ book.name }}"
          />
          <div
            class="color-overlay"
            [ngStyle]="{
              'background-color': book.color,
              height: heightSizes[i % 5] * (j == 3 ? 0.85 : 1) + 'px'
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-custom">
    <button class="btn-add" (click)="openModal('form')">add new book</button>
  </div>
  <div style="position: absolute; display: block; top: 80%">
    <div style="position: relative">
      <div class="cat body bodySlant earsBasic">
        <div class="face"></div>
        <div class="features"></div>
      </div>
    </div>
  </div>
</div>

<ngb-toast
  *ngIf="show"
  header="Error"
  [autohide]="false"
  (hidden)="show = false"
  style="position: absolute; right: 10px; bottom: 10px"
>
  Sorry, that row can't hold anymore books. Maybe try deleting one of the books
  or adding it to a different row.
</ngb-toast>
